include ./assets/ArrowDropdown
mixin DatePickerRange(className, labelFrom, labelTo)
  div(class=className)
    .datepicker-range__container
      .datepicker-range__picker
        label.datepicker-range__label=labelFrom
          span.datepicker-range__arrow
            +ArrowDropdown
          input(type="text", name="datapickerfrom", placeholder="ДД.ММ.ГГГГ" data-picker="datapickerFrom")
      .datepicker-range__picker
        label.datepicker-range__label=labelTo
          span.datepicker-range__arrow
            +ArrowDropdown
          input(type="text", name="datapickerto", placeholder="ДД.ММ.ГГГГ" data-picker="datapickerTo")

mixin DatePickerFilter(className, labelText, placeholderText)
  div(class=className)
    .datepicker-filter__container
      label.datepicker-filter__label=labelText
        span.datepicker-filter__arrow 
          +ArrowDropdown
        input(type="text" name="datepicker-filter" placeholder=placeholderText data-picker="datepicker-filter")